Task1/1301.txt
Task1/Plots/10min_interval_with_highspikes.png
Task1/Plots/10min_interval_with_lowerspikes.png
Task1/Plots/interval_spike.png
Task1/data_pp.mat
Task1/meansAndStddev.mat
Task1/raw_data.mat
Task3/Report/report.synctex.gz(busy)
Task3/figures/scatterPlot_AllSectors.jpg
Task3/figures/scatterPlot_Sector0.jpg
Task3/figures/scatterPlot_Sector120.jpg
Task3/figures/scatterPlot_Sector150.jpg
Task3/figures/scatterPlot_Sector180.jpg
Task3/figures/scatterPlot_Sector210.jpg
Task3/figures/scatterPlot_Sector240.jpg
Task3/figures/scatterPlot_Sector270.jpg
Task3/figures/scatterPlot_Sector30.jpg
Task3/figures/scatterPlot_Sector300.jpg
Task3/figures/scatterPlot_Sector330.jpg
Task3/figures/scatterPlot_Sector60.jpg
Task3/figures/scatterPlot_Sector90.jpg
Task3/figures/shortVsLongTerm_AllSectors.jpg
Task3/figures/shortVsLongTerm_Sector0.jpg
Task3/figures/shortVsLongTerm_Sector120.jpg
Task3/figures/shortVsLongTerm_Sector150.jpg
Task3/figures/shortVsLongTerm_Sector180.jpg
Task3/figures/shortVsLongTerm_Sector210.jpg
Task3/figures/shortVsLongTerm_Sector240.jpg
Task3/figures/shortVsLongTerm_Sector270.jpg
Task3/figures/shortVsLongTerm_Sector30.jpg
Task3/figures/shortVsLongTerm_Sector300.jpg
Task3/figures/shortVsLongTerm_Sector330.jpg
Task3/figures/shortVsLongTerm_Sector60.jpg
Task3/figures/shortVsLongTerm_Sector90.jpg
Task3/figures/weibullPlots.jpg
Task4/Exercises_and_Tasks/Ex. 2/Vad_analysis.m~
